.header{
    position: relative;
    padding: 15px 0;
    z-index: 100;
    width: 100%;
}

.header-inner{
    width: 100%;
    max-width: 1050px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    font-weight: 300;
    font-size: calc(15px + 1vmin);
    cursor: pointer;
    margin-left: 15px;
}

.header-nav__items{
    display: flex;
    margin-right: 15px;
}

.header-nav__item{
    margin-right: 25px;
}

.header-nav__item:last-child{
    margin-right: 0;
}

.header-item__link{
    font-size: calc(11px + 0.8vmin);;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;

}

.header-item__link:hover{
    color: #FFB7B7;
    transition: 0.3s;
}

.active{
    color: #FFB7B7;
    transition: 0.3s;
}

@media (max-width: 770px) {
    .header-logo{
        z-index: 200;
    }

    .header-nav__items{
       width: 100%;
       height: 100vh;
       position: absolute;
       top: -2000px;
       left: -10vmin;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       background-color: #090909;
      
    }

    .header-nav__items-active{
        width: 110%;
        height: 200vh;
        position: absolute;
        top: -50px;
        left: -60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #090909;
        transition: 0.5s;
     }

    .header-nav__item{
       margin: 50px 0 0 0 ;
        
    }

    .header-item__link{
        font-size: calc(25px + 5vmin);
        position: relative;
        top: 100px;
    }

    .active{
       color: #fff;
    }

    .header-menu{
        position: absolute;
        top: 5px;
        right: 50px;
    }

    .header-menu__item{
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        z-index: 300;
    }

    .header-menu__item-two{
     transform: translate(0, 220%);
    }

    .header-menu__item-three{
        transform: translate(0, 440%);
    }
}